.arena {
    position: absolute;
    width: fit-content;
    height: fit-content;
    inset: 0px;
    margin: auto;
}

.square {
    border: 1px solid var(--text-900);
    border-right-width: 0;
    border-bottom-width: 0;
    width: 4rem;
    height: 4rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    text-align: center;
    padding: 0;
    background-color: inherit;
    color: inherit;
    caret-color: transparent;
}

.square:focus {
    outline: none;
    background-color: var(--background-100);
    /* background-color: rgb(26, 40, 71); */
}

#status {
    position: absolute;
    top: -20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#status.win { color: rgb(100, 195, 100); }
#status.lose { color: rgb(223, 97, 97); }


.square.editable { color: rgb(87, 124, 161); }
.square.top { border-top-width: 3px; }
.square.bottom { border-bottom-width: 3px; }
.square.left { border-left-width: 3px; }
.square.right { border-right-width: 3px; }