.container {
      position: relative;
      max-width: 800px;
      margin: 0 auto;
      padding: 70px;
      align-content: center;
      justify-content: center;
      align-items: center;
    }

.nice-button{
    text-decoration: none;
}

.frame{
    border: 4px solid transparent;
    border-radius: 15px;
    padding: 20px;
}