.container {
      position: relative;
      max-width: 800px;
      margin: 0 auto;
      padding: 70px;
      align-content: center;
      justify-content: center;
      align-items: center;
    }

.frame {
        background: var(--background-200);
        border: 4px solid transparent;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-image: linear-gradient(var(--background-100), var(--background-50)), linear-gradient(to right, var(--background-600), var(--background-700));
        background-origin: border-box;
        background-clip: padding-box, border-box;
        max-width: 600px;
        margin: 0 auto;
        width: 100%;
    }

.nice-button{
    text-decoration: none;
}